/*
 * code
 */
.post pre {
    background-color: #FFFFFF;
    border: solid 1px #D9D9D9;
    border-radius: 0;
    background: #FFFFFF;
    padding-right: 0.4em;
    line-height: 23px;
    margin-bottom: 30px;
    overflow-x: visible;
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体";
}
code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

//...
.post ul, .post ol {
    margin-left: 1.35em;
}

.date {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #000;
    margin-bottom: 4em;
}

.meta {
    font-size: small;
    width: 8em;
    float: right;
}

h1 {
    font-size: 20px;
}

.comment {
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
}

.ic {
    margin: 1em 2em auto;
}
