/*
 * code
 */
.post pre {
    overflow: auto;
    border: 1px solid #AABDB4;
    background-color: #FFFFFF;
    padding: 0 .4em;
    counter-reset: line-numbering;
    border: solid 1px #D9D9D9;
    border-radius: 0;
    background: #FFFFFF;
    padding: 0;
    line-height: 23px;
    margin-bottom: 30px;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
}
.post pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #0A0A0A;
  background: #0E0E0E;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//...
.post ul, .post ol {
    margin-left: 1.35em;
}

.date {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #000;
    margin-bottom: 4em;
}

.meta {
    font-size: small;
    width: 8em;
    float: right;
}

h1 {
    font-size: 20px;
}

.comment {
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
}

.ic {
    margin: 1em 2em auto;
}
