<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>{{ page.title }}</title>

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- Slidebars CSS -->
<link rel="stylesheet" href="/slidebars/slidebars.css">
<!-- Slidebar Styles -->
<link rel="stylesheet" href="styles.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>
<div class="sb-slidebar sb-left">
    <!-- left Slidebar content. -->
    <h1>如何理解空不是无，空是一种存在？</h1>

    <p>竹子敲打在石頭上，剎那間發出的清脆之聲，這聲音，就叫做「空」。</p>

    <p>因爲這個聲音，因緣而生，因竹子與石頭的敲打而生；只在瞬間，無本無根，只有空性，所以是「空」。<p>

    <p>而在這剎那之前的永恆、和這剎那之後的永恆寂靜，便是「無」。</p>

    <p>本來無一物，緣起而相生，相本是空。緣滅而相無。</p>


    <p>註：<p>

    <p>因爲諸君廣泛的私信於我，關於此題，所以鄙人願意再詳細說明一下。</p>

    <p>吾輩關閉評論，因吾輩也是佛之子弟。隨意說「空」，惡取空，也是破壞了戒律的惡習。</p>

    <p>况乎許多人口中的「空」，與佛學所說的「空」，即 Śūnyatā，其實是很不同的。</p>

    <p>在佛學的哲學和邏輯，空性（Śūnyatā）於大乘佛教中，所指出的是一種因「因緣」而生，不實體，非單獨存在的一種「存在」，它是不「自在」，是「本性空」。如同敲打之聲，它因爲石頭與竹子的緣分而生，而不能自生自在；即便竹子與石頭存在，但若石頭與竹子沒有結緣，則敲打聲不會存在；而石頭與竹子的結緣，是瞬間的，即便能夠再次發生，這兩個聲響，並不是同一個聲響，而是截然不同的兩種存在。</p>

    <p>彼時彼刻的聲響，和此時此刻的聲響，皆爲不同。</p>

    <p>而石頭與竹子，也是因爲其他的因緣而生，所以也非「實有」，僅是「空性」。</p>

    <p>空有十八空，《般若經》中記述十八空後有「四空」，第一義空，有為空、無為空，畢竟空，無始空，散空，性空，自相空，諸法空，不可得空，無法空、有法空、無法有法空、內空、外空、內外空，空空，大空。</p>

    <p>對中道實相想要進一步明瞭的先生，可以參閱龍樹的《大智度論》。</p>
    <p style="float: right"><small>——佐藤谦一</small></p>
</div>
<div class="site">

    {{ content }}

</div>

<!-- Slidebars -->
<script src="/slidebars/slidebars.js"></script>
</body>
</html>
